<div class="controls row mb-3">
  <form class="col-4">
    <input [(ngModel)]="searchText" (input)="searchTextChange($event)" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
  </form>
  <div class="col-8">
    <button type="button" class="btn btn-outline-secondary" (click)="searchText = ''; searchTextChange()">clear</button>
    <button type="button" class="btn btn-outline-secondary"
            (click)="refreshData()"
            [routerLink]="'/'">refresh
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="sortChange()">sort</button>
  </div>
</div>

